* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/************************task-1**************************/

.list {
  background-color: #fff;
  border-radius: 8px;
    padding: 24px;
    width: 440px;
}

.categories {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
    gap: 24px;
    flex-direction: column;
}

.item {
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  background: #f6f6fe;
}

.list-block {
  display: flex;
  flex-direction: column;
  width: 360px;
  gap: 8px;
  padding: 0;
}

.name {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin: 0;
    margin-bottom: 16px;
}

.line {
  border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
    padding-left: 16px;
    font-size: 16px;
    line-height: 150%;
      letter-spacing: 0.04em;
      color: #2e2f42;

}

/**************************task-2*****************************/
.gallery {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery-item {
  flex: 1 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .gallery-item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .gallery-item {
    width: 100%;
  }
}

/*******************************task-3************************************/

input#name-input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

h1 {
  font-size: 24px;
}

#name-output {
  font-weight: bold;
}
